<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Recipebook
      {% endblock title %}
    </title>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <h1>Recipe Book</h1>
    <h2>
      {% block location %}
      {% endblock location %}
    </h2>
    <div>
      {% block content %}
      {% endblock content %}
      {% block userflow %}
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
        {% endblock userflow %}
    </div>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
